output/
models/
._____temp/
.vscode/
*__pycache__/*
*.pyc
video/
*.safetensors
*.pth
omni/
pcd/

models/
models_ms/
!diffsynth/models**
diffsynth/models/__pycache__/
ckpt/DVD/
outputs/
inference_results/
*.mp4
ckpt/DVD
.msc
.mv
ckpt/.cache
ckpt/.gitattributes
ckpt/README.md
overlap_plots/
test_script/test_from_trained_all_vid_test.py
test_script/test_single_video_batch.py
DVD.egg-info/
infer_bash/video_test.sh
ckpt/test/
!demo/robot_navi.mp4
!demo/drone.mp4